Cisco_Nexus_9372PX_E_Switch/dataDictionary/Cisco_Nexus_9372PX_E_Switch.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:tns="http://xmlns.oracle.com/communications/sce/dictionary/Cisco_Nexus_9372PX_E_Switch/Cisco_Nexus_9372PX_E_Switch" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/communications/sce/dictionary/Cisco_Nexus_9372PX_E_Switch/Cisco_Nexus_9372PX_E_Switch">
    <xs:simpleType name="Vendor">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="Model">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="DeviceType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="RU_Size">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="PacketRate">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="BandWidth">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="Speed">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="Connector">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
