ora_uim_business/schemas/IPAddress.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2011, 2014, Oracle and/or its affiliates. All rights reserved.
    Oracle Corporation and/or its affiliates. Other names may be trademarks of their respective owners. 

    This sample file, which has been provided by Oracle Corporation as part of an Oracle(r) product for use
    ONLY by licensed users of the product, includes CONFIDENTIAL and PROPRIETARY information of Oracle
    Corporation.

    This material is the confidential property of Oracle Corporation or its licensors and may be used,
    reproduced, stored, or transmitted only in accordance with a valid Oracle license or sublicense
    agreement.

    USE OF THIS SOFTWARE IS GOVERNED BY THE TERMS AND CONDITIONS OF THE LICENSE
    AGREEMENT AND LIMITED WARRANTY FURNISHED WITH THE PRODUCT.

    IN PARTICULAR, YOU WILL INDEMNIFY AND HOLD ORACLE CORPORATION, ITS RELATED COMPANIES AND ITS SUPPLIERS,
    HARMLESS FROM AND AGAINST ANY CLAIMS OR LIABILITIES ARISING OUT OF THE USE, REPRODUCTION, OR DISTRIBUTION
    OF YOUR PROGRAMS, INCLUDING ANY CLAIMS OR LIABILITIES ARISING OUT OF OR RESULTING FROM THE USE,
    MODIFICATION, OR DISTRIBUTION OF PROGRAMS OR FILES CREATED FROM, BASED ON, AND/OR DERIVED FROM THIS
    SAMPLE SOURCE CODE FILE.
-->
<xs:schema 
    targetNamespace="http://xmlns.oracle.com/communications/inventory/ipaddress"
    xmlns:invspec="http://xmlns.oracle.com/communications/inventory/specification" 
    xmlns:invent="http://xmlns.oracle.com/communications/inventory/entity"
    xmlns:invipaddress="http://xmlns.oracle.com/communications/inventory/ipaddress"	
	xmlns:invparty="http://xmlns.oracle.com/communications/inventory/party"
	xmlns:invgrp="http://xmlns.oracle.com/communications/inventory/group" 
	xmlns:invprop="http://xmlns.oracle.com/communications/inventory/property" 
	xmlns:invconfig="http://xmlns.oracle.com/communications/inventory/configuration"
	xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
    <!--  =================== Imports Start ==================== -->
    <!-- Local Imports -->
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/entity" schemaLocation="Entity.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/specification" schemaLocation="Specification.xsd"/>
	<xs:import namespace="http://xmlns.oracle.com/communications/inventory/party" schemaLocation="Party.xsd"/>
	<xs:import namespace="http://xmlns.oracle.com/communications/inventory/group" schemaLocation="InventoryGroup.xsd"/>
	<xs:import namespace="http://xmlns.oracle.com/communications/inventory/property" schemaLocation="Property.xsd"/>
	<!--  ============== Message Types =============== -->
    <!-- ==== Entity Value Types ==== -->
    <xs:complexType name="IPAddressType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the IP Address
                                Specification information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                name holds the unique name of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="id" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                id holds the unique id of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                description holds the unique description of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="startDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Start Date of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                End Date of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="address" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                address holds the unique address of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="macAddress" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                macAddress of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ipAddressDomainName" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                ipAddressDomainName of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<!--Add External Object -->
					<xs:element name="createdUser" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                createdUser of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="partition" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                partition of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="owner" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                owner of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="permissions" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                permissions of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="fromRange" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                fromRange of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="toRange" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                toRange of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					
					<xs:element name="numericAddress" type="xsd:integer" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                numericAddress of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of the IPAddress.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="externalIdentity" type="invent:ExternalIdentityType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                              Specifies the explicit identity of the business entity from the perspective of the external participant.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="macAddressType" type="invipaddress:MacAddressTypeEnum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                macAddressType of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ipAddressManagedBy" type="invparty:PartyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                ipAddressManagedBy holds the IPAddress
                                ipAddressManagedBy information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					 <xs:element name="group" type="invgrp:InventoryGroupType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                group holds the IPAddress
                                group information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="parentBlock" type="invipaddress:IPSubnetType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                             parentBlock of the IPAddress
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TODO: IPAddressType schema definition -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:complexType name="NetworkAddressBlockType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                name holds the unique name of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                description holds the unique description of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="prefix" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                prefix of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="prefixLength" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                prefixLength of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="createdUser" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                createdUser of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="partition" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                partition of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="owner" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                owner of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="permissions" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                permissions of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					 <xs:element name="addressRange" type="invipaddress:RangeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                addressRange of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="parentBlock" type="invipaddress:NetworkAddressBlockType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                parentBlock of the NetworkAddressBlock
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    
                  
                    
                    <!-- TODO: NetworkAddressBlockType schema definition -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:complexType name="RangeType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
			 <xs:sequence>
			  <xs:element name="lowerValue" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                               lowerValue of the Range
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="upperValue" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                upperValue of the Range
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
               </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="IPAddressSearchCriteriaType">
        <xs:complexContent>
            <xs:extension base="invent:SearchCriteriaType">
              <xs:sequence>
			    <xs:element name="isIPNetwork" type="xsd:boolean" minOccurs="0" maxOccurs="1" >
                        <xs:annotation>
                            <xs:documentation>
                              isIPNetwork of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
                </xs:element>
				 <xs:element name="ipAddressVersion" type="invipaddress:IPAddressVersionEnum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                             addressVersion of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
               </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:complexType name="IPv4AddressType">
        <xs:complexContent>
            <xs:extension base="invipaddress:IPAddressType">
                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="IPv6AddressType">
        <xs:complexContent>
            <xs:extension base="invipaddress:IPAddressType">
                <xs:sequence>
                    <xs:element name="ipv6AddressType" type="invipaddress:IPv6AddressTypeEnum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                ipv6AddressType holds the IP Address
                                ipv6AddressType information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
				</xs:sequence>	
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	 <xs:complexType name="IPSubnetType">
        <xs:complexContent>
            <xs:extension base="invipaddress:NetworkAddressBlockType">
             <xs:sequence>
			  <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the IP Address
                                Specification information.
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="id" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                              id of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			   <xs:element name="isIPNetwork" type="xsd:boolean" minOccurs="0" maxOccurs="1" >
                        <xs:annotation>
                            <xs:documentation>
                              isIPNetwork of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="isSubnetPartitioned" type="xsd:boolean" minOccurs="0" maxOccurs="1" >
                        <xs:annotation>
                            <xs:documentation>
                              isSubnetPartitioned of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="availableHostCount" type="xsd:integer" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                availableHostCount of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="numericLowerAddress" type="xsd:integer" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                numericLowerAddress of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <xs:element name="numericUpperAddress" type="xsd:integer" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                               numericUpperAddress of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			 
			  <xs:element name="allowHostAtSubnetBoundaries" type="xsd:boolean" minOccurs="0" maxOccurs="1" >
                        <xs:annotation>
                            <xs:documentation>
                              allowHostAtSubnetBoundaries of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  <!--Add External Object -->
			  
			  <xs:element name="ipAddressDomain" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                              ipAddressDomain of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			  
			  <xs:element name="ipv6AddressType" type="invipaddress:IPv6AddressTypeEnum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                              ipv6AddressType of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			   <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the Custom Network Address
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
			  <xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of the IPSubnet.
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>


			   <xs:element name="ipAddressVersion" type="invipaddress:IPAddressVersionEnum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                             addressVersion of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			   <xs:element name="rootParentBlock" type="invipaddress:IPSubnetType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                             rootParentBlock of the IPSubnet
                            </xs:documentation>
                        </xs:annotation>
              </xs:element>
			   <xs:element name="ipSubnetOwnedBy" type="invparty:PartyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                ipSubnetOwnedBy holds the IPSubnet
                                ipSubnetOwnedBy information.
                            </xs:documentation>
                        </xs:annotation>
               </xs:element>
			    <xs:element name="ipAddressManagedBy" type="invparty:PartyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                ipSubnetManagedBy holds the IPSubnet
                                ipSubnetManagedBy information.
                            </xs:documentation>
                        </xs:annotation>
               </xs:element>
			   <xs:element name="externalIdentity" type="invent:ExternalIdentityType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                              Specifies the explicit identity of the business entity from the perspective of the external participant.
                            </xs:documentation>
                        </xs:annotation>
               </xs:element>
			   <xs:element name="group" type="invgrp:InventoryGroupType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                group holds the IPAddress
                                group information.
                            </xs:documentation>
                        </xs:annotation>
               </xs:element>
             </xs:sequence>			 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--  ================= IP Address Elements  ================== -->
	
	<xs:simpleType name="MacAddressTypeEnum">
        <xs:annotation>
            <xs:documentation>Defines valid values for MacAddressType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ETHERNET"/>
            <xs:enumeration value="ATM"/>
			<xs:enumeration value="BLUETOOTH"/>
            <xs:enumeration value="FIBRE_CHANNEL"/>
			<xs:enumeration value="MAC_TYPE_80211"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="IPv6AddressTypeEnum">
        <xs:annotation>
            <xs:documentation>Defines valid values for IPv6AddressType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GLOBAL_UNICAST"/>
            <xs:enumeration value="UNIQUE_LOCAL_UNICAST"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="IPAddressVersionEnum">
        <xs:annotation>
            <xs:documentation>Defines valid values for IPv6AddressType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPV4"/>
            <xs:enumeration value="IPV6"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
