ora_uim_business/schemas/Network.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2011, 2013, Oracle and/or its affiliates. All rights reserved.
    Oracle Corporation and/or its affiliates. Other names may be trademarks of their respective owners. 

    This sample file, which has been provided by Oracle Corporation as part of an Oracle(r) product for use
    ONLY by licensed users of the product, includes CONFIDENTIAL and PROPRIETARY information of Oracle
    Corporation.

    This material is the confidential property of Oracle Corporation or its licensors and may be used,
    reproduced, stored, or transmitted only in accordance with a valid Oracle license or sublicense
    agreement.

    USE OF THIS SOFTWARE IS GOVERNED BY THE TERMS AND CONDITIONS OF THE LICENSE
    AGREEMENT AND LIMITED WARRANTY FURNISHED WITH THE PRODUCT.

    IN PARTICULAR, YOU WILL INDEMNIFY AND HOLD ORACLE CORPORATION, ITS RELATED COMPANIES AND ITS SUPPLIERS,
    HARMLESS FROM AND AGAINST ANY CLAIMS OR LIABILITIES ARISING OUT OF THE USE, REPRODUCTION, OR DISTRIBUTION
    OF YOUR PROGRAMS, INCLUDING ANY CLAIMS OR LIABILITIES ARISING OUT OF OR RESULTING FROM THE USE,
    MODIFICATION, OR DISTRIBUTION OF PROGRAMS OR FILES CREATED FROM, BASED ON, AND/OR DERIVED FROM THIS
    SAMPLE SOURCE CODE FILE.
-->
<xs:schema 
    targetNamespace="http://xmlns.oracle.com/communications/inventory/network"
    xmlns:invconfig="http://xmlns.oracle.com/communications/inventory/configuration" 
    xmlns:invnet="http://xmlns.oracle.com/communications/inventory/network" 
    xmlns:invprop="http://xmlns.oracle.com/communications/inventory/property" 
    xmlns:invspec="http://xmlns.oracle.com/communications/inventory/specification" 
    xmlns:invent="http://xmlns.oracle.com/communications/inventory/entity" 
    xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
    <!--  =================== Imports Start ==================== -->
    <!-- Local Imports -->
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/entity" schemaLocation="Entity.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/specification" schemaLocation="Specification.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/property" schemaLocation="Property.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/configuration" schemaLocation="Configuration.xsd"/>
    <!--  ============== Message Types =============== -->
    <!-- ==== Entity Value Types ==== -->
    <xs:complexType name="NetworkType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the Network
                                Specification information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="id" type="xsd:string" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                id holds the unique id of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Description of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Start Date of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                End Date of the Network
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of a Network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
		    <xs:element name="configuration" type="invconfig:ConfigurationType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration Verions of a Network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
					<xs:element name="networkTopology" type="invnet:NetworkTopologyEnum">
						<xs:annotation>
							<xs:documentation>Describes the termination type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- TODO: NetworkType schema definition -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<!--  ================= SR3 Changes START  ================== -->
	
	<!-- ************************************************************************************** -->		
	<xs:complexType name="VirtualNetworkType">
	    <xs:annotation>
			<xs:documentation>Virtual Network is an abstract entity that extends Network and serves as the base class for network entities that represent arrangements of elements from the Provider’s network infrastructure that serve a common purpose. For example, Packet Virtual Network is a type of virtual network that contains Flow Interfaces and Connectivity from a provider’s network infrastructure that fulfil an Ethernet service. 
			Virtual Networks can have nodes and edges that represent elements that are not in the provider’s infrastructure network(s). For example, Packet Virtual Networks can contain nodes that represent Service Locations, CPE devices, Parties (Other Service Provider), and other Virtual Networks, and edges that represent network access (e.g., UNI) and Service Connectivity.    
			</xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
		<xs:extension base="invnet:NetworkType">
		    <xs:sequence>
		    </xs:sequence>
		</xs:extension>
	    </xs:complexContent>
	</xs:complexType>
	
	<!-- ************************************************************************************** -->		
	<xs:complexType name="PacketVirtualNetworkType">
	    <xs:annotation>
			<xs:documentation>PacketVirtualNetwork is a concrete specialization of Virtual Network that contains nodes and edges representing elements of a specific Packet technology, such as Ethernet, ATM, Frame Relay, or MPLS, that fulfill a connection-based service(s). For example, a PacketVirtualNetwork can represent the device interfaces, flow interfaces and connectivity that support a specific Ethernet service implementation. An Ethernet virtual network can also be referred to as an EVC (Ethernet Virtual Connection) network.
			</xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
		<xs:extension base="invnet:VirtualNetworkType">
		    <xs:sequence>
		    </xs:sequence>
		</xs:extension>
	    </xs:complexContent>
	</xs:complexType>

	<!-- ************************************************************************************** -->		
	<xs:complexType name="ServiceNetworkType">
	    <xs:annotation>
			<xs:documentation>ServiceNetwork is a specialization of VirtualNetwork that consolidates Packet Virtual Networks and access connectivity into a single end-to-end view of a connectivity-based service, such as an Ethernet service. 
			</xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
		<xs:extension base="invnet:VirtualNetworkType">
		    <xs:sequence>
				<xs:element name="serial" type="xs:int">
					<xs:annotation>
						<xs:documentation>The serial number applied to all Service Connectivity created for the Service Network. This number must be unique within the context of the connectivityFunction.</xs:documentation>
					</xs:annotation>
				</xs:element>
		    </xs:sequence>
		</xs:extension>
	    </xs:complexContent>
	</xs:complexType>
	
	
	 <!-- ==== Enumerations ==== -->
	<xs:simpleType name="NetworkTopologyEnum">
        <xs:annotation>
            <xs:documentation>Defines valid values for Network Topology</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUS"/>
            <xs:enumeration value="CHAIN"/>
            <xs:enumeration value="HYBRID"/>
            <xs:enumeration value="LINEAR_ADD_DROP"/>
			<xs:enumeration value="MESH"/>
			<xs:enumeration value="MULTIPOINT_TO_MULTIPOINT"/>
			<xs:enumeration value="POINT_TO_POINT"/>
			<xs:enumeration value="RING"/>
			<xs:enumeration value="ROOTED_MULTIPOINT"/>
			<xs:enumeration value="SINGLETON"/>
			<xs:enumeration value="STAR"/>
			<xs:enumeration value="TREE"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
    </xs:simpleType>
	<!--  ================= SR3 Changes END  ================== -->
	
	
    <!--  ================= Network Elements  ================== -->
    <!-- ================ Entity Criteria Types ================ -->
    <xs:complexType name="NetworkCriteriaType">
        <xs:annotation>
            <xs:documentation>Criteria to uniquely identify a Network.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="networkId" type="xsd:string" nillable="false" minOccurs="0" >
                        <xs:annotation>
                            <xs:documentation>Network Id</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
